libboot/target/**
build/lib/**
build/asmlib
build/setenv.bat
build/setenv.sh
lib/**
reladomo/target/**
reladomogen/target/**
reladomogenutil/target/**
reladomogs/target/**
reladomogsi/target/**
reladomoui/target/**
reladomoserial/target/**
reladomographql/target/**
.idea/**
*.iml
target/**
samples/**/target/**
samples/**/build/**
.gradle
