# Console appender config:
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.target=System.out
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d %-5p [%t] %-17c{2} %3x - %m%n

# LogFactor5 appender config:  # todo: put the LF5 appender back -- was interfering with the unit tests under lin/unix
#log4j.appender.LF5=com.gs.fw.common.base.logger.implementation.LogViewerAppender
#log4j.appender.LF5.MaxNumberOfRecords=2000

# Define appenders to use:  # todo: put the LF5 appender back -- was interfering with the unit tests under lin/unix
#log4j.rootLogger=FATAL, Console, LF5
log4j.rootLogger=FATAL, Console


log4j.logger.com=INFO

#log4j.logger.com.gs.fw.common.mithra.sqllogs=DEBUG
#log4j.logger.com.gs.fw.common.mithra.batch.sqllogs=DEBUG
#log4j.logger.com.gs.fw.common.mithra.test.sqllogs=DEBUG
#log4j.logger.com.gs.fw.common.mithra.test.sqllogs.AuditedOrderStatus=DEBUG
#log4j.logger.com.gs.fw.common.mithra.test.multivm.SlaveVm=DEBUG

log4j.logger.org=WARN

# Copyright 2016 Goldman Sachs.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
