# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: Test Suite 2

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    if: github.repository == 'goldmansachs/reladomo'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set env
      run: echo "RELADOMO_JDK_HOME=$JAVA_HOME" >> $GITHUB_ENV
    - name: Build with Ant via shell script
      run: ./build/build.sh reladomo-test-suite2
